{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANNADATA.COM – Pure Village Pulses</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
       <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-about">
                    <div class="footer-logo">ANNADATA.COM</div>
                    <p class="footer-text_non_color">Bridging the gap between village farmers and city kitchens with pure, organic pulses.</p>
                    <div class="social-links">
                        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="footer-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/farmer_registration">Farmer Registration</a></li>
                    </ul>
                </div>
                <div class="footer-contact">
                    <h4>Contact Us</h4>
                    <p class="footer-text_non_color"><i class="fas fa-map-marker-alt"></i> 123 Farm Street, Organic City, India</p>
                    <p class="footer-text_non_color"><i class="fas fa-phone"></i>937099518</p>
                    <p class="footer-text_non_color"><i class="fas fa-envelope"></i> hello@annadata.com</p>
                </div>
            </div>
            <div class="footer-bottom" >
                <p class="footer-text_non_color">&copy; 2026 ANNADATA.COM.   <b><u>And Rohit Jangale </u></b>     All rights reserved. | Made with ❤️ for India's Farmers</p>
            </div>
        </div>
    </footer>

    <script src="/static/javascript/script.js"></script>