{% include 'navbar.html' %}

<div class="container mt-5">
    <h2>📄 My Orders</h2>

    <table class="table mt-4 shadow-sm">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Total</th>
                <th>Status</th>
                <th>Date</th>
                <th>Track</th>
            </tr>
        </thead>

        <tbody>
            {% for o in orders %}
            <tr>
                <td>#{{ o.id }}</td>
                <td>₹{{ o.total_amount }}</td>
                <td>{{ o.status }}</td>
                <td>{{ o.created_at }}</td>
                <td>
                    <a href="/track/{{ o.id }}/" class="btn btn-sm btn-success">
                        Track
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/dashboard/" class="btn btn-dark mt-3">← Back to Dashboard</a>
</div>
<br><br>
{% include 'footer.html' %}
